[submodule "RealityCore/ThirdParty/screen_capture_lite"]
	path = RealityCore/ThirdParty/screen_capture_lite
	url = https://github.com/Intro-Ventors/screen_capture_lite
[submodule "RealityCore/Assets"]
	path = RealityCore/Assets
	url = https://github.com/Intro-Ventors/Assets
[submodule "RealityCore/ThirdParty/libdatachannel"]
	path = RealityCore/ThirdParty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
[submodule "RealityCore/ThirdParty/json"]
	path = RealityCore/ThirdParty/json
	url = https://github.com/nlohmann/json
