[submodule "Mobile/Graphics/ThirdParty/dart-gl"]
	path = Mobile/Graphics/ThirdParty/dart-gl
	url = https://github.com/google/dart-gl
[submodule "Desktop/RealityCore/ThirdParty/screen_capture_lite"]
	path = Desktop/RealityCore/ThirdParty/screen_capture_lite
	url = https://github.com/Intro-Ventors/screen_capture_lite
